@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
    }
    
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
    }

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
    }

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, div, li, a{
    font-family: 'GM';
}
h4{
    font-family: 'Noto Sans';
}