* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center bottom;
}

.sec1 {
  background-image: url(/wp/publc2/imges/bg/img_01.jpg);
  max-height: 1058px;
}

.sec1 .centerImg {
  -webkit-transform: translateY(3.3%);
          transform: translateY(3.3%);
}

.sec1 .centerImg #ticket {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.sec1 .centerImg #hotel {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sec1 .centerImg #Qheart {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(110%, -175%);
          transform: translate(110%, -175%);
}

.sec1 .centerImg #hfe {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-21%, -250%);
          transform: translate(-21%, -250%);
}

.sec1 .centerImg #good {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-58%, -530%);
          transform: translate(-58%, -530%);
}

.sec1 .centerImg #stars {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 7%) rotate(90deg);
          transform: translate(50%, 7%) rotate(90deg);
}

.sec2 {
  background-image: url(/wp/publc2/imges/bg/img_02.gif);
}

.sec2 .container-lg h4 {
  line-height: 8rem;
}

.sec2 .container-lg .CRA {
  padding: 1em 0;
  margin: 1em 0 4em 0;
}

.sec2 .container-lg .CRA .point .pointbox .tl {
  padding: 1.2em 7em 0 0;
  color: #ff00bb;
}

.sec2 .container-lg .CRA .point .pointbox .tl .pp {
  font-size: 1.8rem;
}

.sec2 .container-lg .CRA .point .pointbox .tl .two {
  font-size: 4rem;
}

.sec2 .container-lg .CRA .coupon .couponbox .tr {
  padding: 1.2em 9em 0 0;
  color: #00b7fc;
}

.sec2 .container-lg .CRA .coupon .couponbox .tr .cp {
  font-size: 1.8rem;
}

.sec2 .container-lg .CRA .coupon .couponbox .tr .twe {
  font-size: 4rem;
}

.sec2 .container-lg .CRA .coupon .couponbox .tr .pu {
  font-size: 2rem;
}

.sec2 .container-lg .pack {
  line-height: 3rem;
  color: #ee54fe;
  padding: 0 0 9vw 0;
}

.sec2 .container-lg .pack .hop {
  font-size: 2rem;
  color: #db00f4;
}

.sec2 .container-lg .pack .pkg {
  color: black;
}

.couponbox {
  background-image: url(/wp/publc2/imges/coupon.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 45%;
}

.pointbox {
  background-image: url(/wp/publc2/imges/money.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

.sec3 {
  background-image: url(/wp/publc2/imges/bg/img_03.gif);
}

.sec3 .containerb {
  -webkit-transform: translate(0, -300%);
          transform: translate(0, -300%);
}

.sec3 .on .tebtitle {
  background-color: white;
  color: #222;
}

.sec3 .on .tabContent {
  display: block !important;
}

.sec3 .heart {
  background-image: url(/wp/publc2/imges/heart.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 70%;
  padding: 10vw 1vw;
}

.sec3 .tebtitle {
  background-color: #e881ef;
  color: white;
  border: 2px black solid;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  line-height: 1;
  padding: 2.5rem 0;
  margin: 0;
}

.sec3 .tabContent {
  background-color: white;
  border: 2px black solid;
  border-radius: 0 0 30px 30px;
  padding: 1rem;
  width: 200%;
  -webkit-box-shadow: 2px 3px 5px 0px black;
          box-shadow: 2px 3px 5px 0px black;
}

.sec3 .tabContent.cb2 {
  margin-left: -100%;
}

.sec3 .cb1 {
  padding-top: 1rem;
}

.sec3 .cb1 .stan1 #stanimg {
  padding-top: 1rem;
  width: 100%;
}

.sec3 .cb1 .stan {
  padding: 1.5rem 2rem 0 0;
}

.sec3 .cb1 .stan2 #limit {
  width: 25%;
  -webkit-transform: translate(-80%, -30%);
          transform: translate(-80%, -30%);
}

.sec3 .cb1 .stan2 .limit {
  color: white;
  -webkit-transform: translate(-140%, 20%);
          transform: translate(-140%, 20%);
}

.sec3 .cb1 .stan3 {
  color: gray;
}

.sec3 .cb1 .stan3 .arrow {
  color: #db00f4;
  font-size: 2.5rem;
}

.sec3 .cb1 .stan3 .wen {
  color: #222;
  font-size: 2.5rem;
}

.sec3 .cb1 .stan4 {
  border: 2px black solid;
  border-radius: 30px;
  background-color: #db00f4;
  color: white;
  -webkit-box-shadow: 2px 3px 5px 0px black;
          box-shadow: 2px 3px 5px 0px black;
  width: 50%;
  padding: 0.8rem;
  margin-left: 50%;
}

.sec3 .cb1 .stan5 #stars1 {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-690%, -990%);
          transform: translate(-690%, -990%);
}

.pointbox, .couponbox {
  background-color: white;
  border: 3px black solid;
  border-radius: 30px;
}

.point:before, .coupon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 30px;
  top: 0;
  right: 0%;
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
}

.pb:before {
  background-color: #ff0095;
}

.cb:before {
  background-color: #2db2ff;
}
